body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

header {
  font-family: "Roboto", sans-serif;
  background-color: #eeeff1;
  min-width: 320px;
  min-height: 600px;
}

.header_navbar__links {
  display: flex;
  justify-content: space-around;
}

.header_navbar__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 25px;
  text-decoration: none;
  color: #000000;
}

.header_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.header_content__container {
  max-width: 33em;
  margin-left: 50px;
}

.header_content_container__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 50;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  margin: 10px;
}

.header_content_container__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 10px;
  color: #727272;
}

.header_content_container__btn-object {
  font-family: Roboto;
  font-style: unset;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  background: #34547a;
  border: 2px solid rgb(104, 123, 149);
  padding: 10px 20px 10px 20px;
  margin: 10px;
}

.aboutme {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.aboutme_text__title {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;

  color: #000000;
}

.aboutme_text__subject {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  max-width: 540px;
  color: #727272;
}

.workplan {
  background-color: #34547a;
}

.workplan_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.workplan_title {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #eeeff1;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.workplan_card {
  max-width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#eeeff1;
  border-radius: 5%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.workplantext {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #34547a;
  font-weight: 500;
  margin: 20px;
}


.workplanimg {
  max-width: 500px;
  max-height: 500px;
}

.workplancard_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  margin: 10px;
}

.workplan_card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 1);
  transition: ease 0.3s;
  cursor: pointer;
}

.header_content_container__btn-object:hover {
  background: rgb(27, 28, 31);
  transition: 0.3s ease;
  cursor: pointer;
}

.header_navbar__link:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}
